##
## EPITECH PROJECT, 2024
## Panoramix
## File description:
## .gitignore
##

# Ignore object files
obj/main.o
obj/panoramix.o


# Ignore dependency files
obj/main.d
obj/panoramix.d


# Ignore binary files
panoramix
panoramix_tests
a.out

# Ignore logs and reports
*.gc*
vgcore.*

# Ignore coding-style logs
coding-style-reports.log

# Ignore temporary files
*tmp*
*~
\#*#
.#*
*.swp

# Miscellanous
